name: Playwright Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run tests
        env:
          RESTFUL_BOOKER_BASE: ${{ secrets.RESTFUL_BOOKER_BASE }}
          RB_USER: ${{ secrets.RB_USER }}
          RB_PASS: ${{ secrets.RB_PASS }}
        run: npm test

      - name: Upload Playwright HTML Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report

      - name: Upload Monocart Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: monocart-report
          path: monocart-report
